{%load static%}
<div class="album py-5 bg-dark">
    <div class="container">
      <h2 class="text-light py-3">Certificados</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col mb-4">
          <div class="card shadow-sm bg-dark shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body bg-dark text-light rounded">
              <h4 class="card-text">Título do Certificado</h4>
              <h6>Data: 05/03/2022</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Validação</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Conteúdo</button>
                </div>
                <small class="text-muted">9 horas</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card shadow-sm bg-dark shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body bg-dark text-light rounded">
              <h4 class="card-text">Título do Certificado</h4>
              <h6>Data: 05/03/2022</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Validação</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Conteúdo</button>
                </div>
                <small class="text-muted">9 horas</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card shadow-sm bg-dark shadow">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body bg-dark text-light rounded">
              <h4 class="card-text">Título do Certificado</h4>
              <h6>Data: 05/03/2022</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Validação</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Conteúdo</button>
                </div>
                <small class="text-muted">9 horas</small>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>